@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&family=Ovo&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

.container {
    width: 1152px;
    max-width: 90%;
    margin: 0 auto;
}

nav {
    background: #553c9a;
    color: #fff;
    padding: 1rem 0;
}

section.input {
    padding-top: 100px;
}

h2{
    font-size: 26px;
    text-align: center;
}

.form-wrap{
    display: flex;
    justify-content: center;
}

.input-wrap{
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    margin-top: 17px;
}

input{
    border: none;
    padding: 10px;
    font-size: 16px;
    min-width: 400px;
    outline: none;
}

button{
    background: #553c9a;
    color: #fff;
    height: 100%;
    font-size: 16px;
    padding: 0 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

section.data{
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.loading{
    display: none;
}

section.data p.def{
    font-size: 20px;
    columns: #2d3748;
    line-height: 1.6;
}

.suggested{
    background: #823bdf;
    color: #fff;
    padding: 2px 10px;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 5px;
    display: inline-block;
}

.audio{
    margin-top: 20px ;
}